    html {
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
    }

    body {
      width: 100%;
      height: 100%;
      padding: 0px;
      margin: 0px;

    }

    head {
      width: 100%;
      height: 100%;
    }

    .spinner-border {
        width: 70px;
        height: 70px;
    }

    .img-parent {
      width: 50%;
      height: 50%;
      overflow: hidden;
      margin-left: 25%;
      margin-bottom: 1%;

    }

    .img-child {
      width: 100%;
      height: 150%;
      position: absolute;
      object-fit: contain;
      top: -24.95%;
      display: none;
    }

    .container {
      height: 100%;
    }

    .yt-back {
      background: center no-repeat;
      width: 100%;
      height: 89%;
    }

    #lock {
      display: none;
      z-index: 1;
    }

    #lock:target {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(255, 255, 255, 0.5);
      border: 10em solid rgba(0, 0, 0, 0.6);
      text-align: center;
    }

    #load {
      position: relative;
      text-align: center;
      top: 50%;
      z-index: 2;
      font-size: 30px;
      font-weight: 600;
    }